
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/register/register.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <title>Register</title>
</head>
<body>
    <div class="container register">
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
                <h3>Registro de Administrador</h3>
                <hr style="background-color:white" />
                <br />
                <br />
                <a href='@Url.Action("Index", "Home")' style="color:white">Menú Principal</a><br /><br />
                <a href='@Url.Action("Acceder", "Home")' style="color:white">Iniciar Sesión</a><br /><br />
            </div>
            <div class="col-md-9 register-right">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading">Rellene cada uno de los campos requeridos</h3>
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nombres" value="" />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Apellidos" value="" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control" placeholder="Cédula" value="" />
                                </div>
                                <div class="form-group">
                                    <input type="text" minlength="15" maxlength="15" name="txtEmpPhone" class="form-control" placeholder="Teléfono" value="" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control" placeholder="ID Institucional" value="" />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Clave de Acceso" value="" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Contraseña" value="" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <input type="submit" class="btnRegister" value="Registrarse" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
